In [59]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json
import scipy.stats as st
from sqlalchemy import create_engine

In [60]:
starbucks_df = pd.read_csv("stores.csv")

In [61]:
starbucks_df

,Id,StarbucksId,Name,BrandName,StoreNumber,PhoneNumber,OwnershipType,Street1,Street2,Street3,...,CountrySubdivisionCode,CountryCode,PostalCode,Longitude,Latitude,TimezoneOffset,TimezoneId,TimezoneOlsonId,FirstSeen,LastSeen
0,1f2d204f-e773-4361-9158-0008307dbd5e,10357,Target Virginia T-847,Starbucks,76666-97597,218-741-6603,LS,1001 13th St S,NaN,NaN,...,MN,US,557923254,-92.55,47.51,-360,Central Standard Time,GMT-06:00 America/Chicago,12/8/2013 5:41:59 PM,2/3/2017 12:00:00 AM
1,49455e22-49e9-461f-912c-00092386eaee,6557,PDX A 2,Starbucks,75916-104381,503-284-4008,LS,"7000 NE Airport Way, MB#3",NaN,NaN,...,OR,US,972181031,-122.59,45.59,-480,Pacific Standard Time,GMT-08:00 America/Los_Angeles,12/8/2013 5:41:59 PM,2/3/2017 12:00:00 AM
2,1316ebf8-ee4a-479d-a11d-000964af367b,1010600,235 Bourke Street,Starbucks,25294-240419,NaN,LS,235-251 Bourke St,"Shops 5,6 & 10",NaN,...,VIC,AU,3000,144.97,-37.81,660,AUS Eastern Standard Time,GMT+10:00 Australia/Melbourne,10/8/2014 12:00:00 AM,2/3/2017 12:00:00 AM
3,1b8b9007-4587-4942-bf29-000a0af78161,1014921,Oasis Al-Kharj,Starbucks,27350-247327,NaN,LS,King Abdullah Rd,Al Khuzama,NaN,...,01,SA,NaN,47.27,24.13,180,Arab Standard Time,GMT+03:00 Asia/Riyadh,6/21/2016 12:00:00 AM,2/3/2017 12:00:00 AM
4,072752df-b30b-4f3f-a9b8-000ae32f8666,14667,Target Trumbull T-1956,Starbucks,76306-93245,203-455-0102,LS,120 Hawley Ln,NaN,NaN,...,CT,US,066115347,-73.15,41.23,-300,Eastern Standard Time,GMT-05:00 America/New_York,12/8/2013 5:41:59 PM,2/3/2017 12:00:00 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25595,3d795b3d-5101-4bfa-8d4a-ffeac5ce30ad,1633,上海书城店,Starbucks,1396-140870,021-63914776,JV,黄浦区,东侧商铺,福州路465号2楼,...,31,CN,200001,121.48,31.23,480,China Standard Time,GMT+08:00 Asia/Beijing,12/8/2013 5:41:59 PM,2/3/2017 12:00:00 AM
25596,3ce8d70e-2eaf-4200-b6af-fff401167436,6300,Bei Xin,Starbucks,31003-102685,NaN,JV,"No. 27, Minquan Rd, Xindian Dist",1F,NaN,...,TPQ,TW,231,121.54,24.98,480,Taipei Standard Time,GMT+08:00 Asia/Taipei,12/8/2013 5:41:59 PM,2/3/2017 12:00:00 AM
25597,f86b90e4-5423-4b6d-835f-fff87e08721c,1012298,San Ramon Valley & Crow Canyon,Starbucks,25784-242224,925-421-5615,CO,2435 San Ramon Valley Blvd,Suite 7,NaN,...,CA,US,94583,-121.98,37.77,-480,Pacific Standard Time,GMT-08:00 America/Los_Angeles,7/25/2015 12:00:00 AM,2/3/2017 12:00:00 AM
25598,62375258-a9f2-44fb-b98e-fff9c35670e7,1012848,Teavana - Hillcrest,Teavana,28652-250205,905-883-3832,CO,9350 Yonge St.,Unit H007B,Hillcrest,...,ON,CA,L4C 5G5,-79.43,43.85,-300,Eastern Standard Time,GMT-05:00 America/Toronto,7/11/2015 12:00:00 AM,2/3/2017 12:00:00 AM
25599,e8fbdbbe-c086-44b7-a1b1-fffb38f17b1a,15585,"Crenshaw & Airport, Torrance",Starbucks,6849-79123,310-534-4835,CO,25348 Crenshaw Blvd.,NaN,Rolling Hills Plaza,...,CA,US,905056100,-118.33,33.79,-480,Pacific Standard Time,GMT-08:00 America/Los_Angeles,12/8/2013 5:41:59 PM,2/3/2017 12:00:00 AM

In [62]:
us_stores = starbucks_df[starbucks_df['CountryCode'] == 'US']

In [63]:
us_stores

,Id,StarbucksId,Name,BrandName,StoreNumber,PhoneNumber,OwnershipType,Street1,Street2,Street3,...,CountrySubdivisionCode,CountryCode,PostalCode,Longitude,Latitude,TimezoneOffset,TimezoneId,TimezoneOlsonId,FirstSeen,LastSeen
0,1f2d204f-e773-4361-9158-0008307dbd5e,10357,Target Virginia T-847,Starbucks,76666-97597,218-741-6603,LS,1001 13th St S,NaN,NaN,...,MN,US,557923254,-92.55,47.51,-360,Central Standard Time,GMT-06:00 America/Chicago,12/8/2013 5:41:59 PM,2/3/2017 12:00:00 AM
1,49455e22-49e9-461f-912c-00092386eaee,6557,PDX A 2,Starbucks,75916-104381,503-284-4008,LS,"7000 NE Airport Way, MB#3",NaN,NaN,...,OR,US,972181031,-122.59,45.59,-480,Pacific Standard Time,GMT-08:00 America/Los_Angeles,12/8/2013 5:41:59 PM,2/3/2017 12:00:00 AM
4,072752df-b30b-4f3f-a9b8-000ae32f8666,14667,Target Trumbull T-1956,Starbucks,76306-93245,203-455-0102,LS,120 Hawley Ln,NaN,NaN,...,CT,US,066115347,-73.15,41.23,-300,Eastern Standard Time,GMT-05:00 America/New_York,12/8/2013 5:41:59 PM,2/3/2017 12:00:00 AM
5,d387414f-827a-49b1-8002-000ced29086e,16329,Albertsons-Oceanside #6733,Starbucks,73636-67161,760-729-3468,LS,3450 Marron Rd,NaN,NaN,...,CA,US,920564672,-117.30,33.18,-480,Pacific Standard Time,GMT-08:00 America/Los_Angeles,12/8/2013 5:41:59 PM,2/3/2017 12:00:00 AM
6,c247cc83-e908-4046-a9e1-000de0f73ea5,1015467,SEC Lincoln & Yosemite - Lone Tree,Starbucks,27851-193845,(720) 467-4703,CO,9998 Commons St.,NaN,NaN,...,CO,US,80124,-104.88,39.54,-420,Mountain Standard Time,GMT-07:00 America/Denver,8/16/2016 12:00:00 AM,2/3/2017 12:00:00 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25586,d2866db4-384a-4c39-b02e-ffcb6b1b917d,15223,Tacoma Mall,Starbucks,337-103,253-473-7727,CO,4502 South Steel Street,NaN,NaN,...,WA,US,984097242,-122.47,47.22,-480,Pacific Standard Time,GMT-08:00 America/Los_Angeles,12/8/2013 5:41:59 PM,2/3/2017 12:00:00 AM
25588,cf315b86-69dd-4882-a099-ffd5d74b561f,15289,Princess Anne,Starbucks,7766-40481,757-471-6598,CO,2005 Lynnhaven Parkway,NaN,NaN,...,VA,US,234561410,-76.12,36.79,-300,Eastern Standard Time,GMT-05:00 America/New_York,12/8/2013 5:41:59 PM,2/3/2017 12:00:00 AM
25593,f79911f2-9f3f-49fb-8169-ffe2e30ee8b8,10656,Wright-Patterson AFB - Kittyhawk Ce,Starbucks,78093-117045,937-879-4617,LS,Oak St & Chestnut St,NaN,NaN,...,OH,US,45433541,-84.03,39.81,-300,Eastern Standard Time,GMT-05:00 America/New_York,12/8/2013 5:41:59 PM,2/3/2017 12:00:00 AM
25597,f86b90e4-5423-4b6d-835f-fff87e08721c,1012298,San Ramon Valley & Crow Canyon,Starbucks,25784-242224,925-421-5615,CO,2435 San Ramon Valley Blvd,Suite 7,NaN,...,CA,US,94583,-121.98,37.77,-480,Pacific Standard Time,GMT-08:00 America/Los_Angeles,7/25/2015 12:00:00 AM,2/3/2017 12:00:00 AM
25599,e8fbdbbe-c086-44b7-a1b1-fffb38f17b1a,15585,"Crenshaw & Airport, Torrance",Starbucks,6849-79123,310-534-4835,CO,25348 Crenshaw Blvd.,NaN,Rolling Hills Plaza,...,CA,US,905056100,-118.33,33.79,-480,Pacific Standard Time,GMT-08:00 America/Los_Angeles,12/8/2013 5:41:59 PM,2/3/2017 12:00:00 AM

In [64]:
# us_stores = us_stores.rename(columns={'CountrySubdivisionCode':'State'}, inplace=True)

In [65]:
us_stores = us_stores[['Name', 'Street1', 'CountrySubdivisionCode', 'CountryCode', 'PostalCode', 'Longitude', 'Latitude']]

In [66]:
us_stores.reset_index(drop=True)

,Name,Street1,CountrySubdivisionCode,CountryCode,PostalCode,Longitude,Latitude
0,Target Virginia T-847,1001 13th St S,MN,US,557923254,-92.55,47.51
1,PDX A 2,"7000 NE Airport Way, MB#3",OR,US,972181031,-122.59,45.59
2,Target Trumbull T-1956,120 Hawley Ln,CT,US,066115347,-73.15,41.23
3,Albertsons-Oceanside #6733,3450 Marron Rd,CA,US,920564672,-117.30,33.18
4,SEC Lincoln & Yosemite - Lone Tree,9998 Commons St.,CO,US,80124,-104.88,39.54
...,...,...,...,...,...,...,...
13603,Tacoma Mall,4502 South Steel Street,WA,US,984097242,-122.47,47.22
13604,Princess Anne,2005 Lynnhaven Parkway,VA,US,234561410,-76.12,36.79
13605,Wright-Patterson AFB - Kittyhawk Ce,Oak St & Chestnut St,OH,US,45433541,-84.03,39.81
13606,San Ramon Valley & Crow Canyon,2435 San Ramon Valley Blvd,CA,US,94583,-121.98,37.77
13607,"Crenshaw & Airport, Torrance",25348 Crenshaw Blvd.,CA,US,905056100,-118.33,33.79

In [67]:
us_stores['PostalCode'] = us_stores['PostalCode'].str[:5]

<ipython-input-67-5f833ddd153c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_stores['PostalCode'] = us_stores['PostalCode'].str[:5]

In [68]:
us_stores

,Name,Street1,CountrySubdivisionCode,CountryCode,PostalCode,Longitude,Latitude
0,Target Virginia T-847,1001 13th St S,MN,US,55792,-92.55,47.51
1,PDX A 2,"7000 NE Airport Way, MB#3",OR,US,97218,-122.59,45.59
4,Target Trumbull T-1956,120 Hawley Ln,CT,US,06611,-73.15,41.23
5,Albertsons-Oceanside #6733,3450 Marron Rd,CA,US,92056,-117.30,33.18
6,SEC Lincoln & Yosemite - Lone Tree,9998 Commons St.,CO,US,80124,-104.88,39.54
...,...,...,...,...,...,...,...
25586,Tacoma Mall,4502 South Steel Street,WA,US,98409,-122.47,47.22
25588,Princess Anne,2005 Lynnhaven Parkway,VA,US,23456,-76.12,36.79
25593,Wright-Patterson AFB - Kittyhawk Ce,Oak St & Chestnut St,OH,US,45433,-84.03,39.81
25597,San Ramon Valley & Crow Canyon,2435 San Ramon Valley Blvd,CA,US,94583,-121.98,37.77
25599,"Crenshaw & Airport, Torrance",25348 Crenshaw Blvd.,CA,US,90505,-118.33,33.79

In [69]:
plot_us_stores = us_stores[['CountrySubdivisionCode','PostalCode', 'Longitude', 'Latitude']]

In [70]:
plot_us_stores

      CountrySubdivisionCode PostalCode  Longitude  Latitude
0                         MN      55792     -92.55     47.51
1                         OR      97218    -122.59     45.59
4                         CT      06611     -73.15     41.23
5                         CA      92056    -117.30     33.18
6                         CO      80124    -104.88     39.54
...                      ...        ...        ...       ...
25586                     WA      98409    -122.47     47.22
25588                     VA      23456     -76.12     36.79
25593                     OH      45433     -84.03     39.81
25597                     CA      94583    -121.98     37.77
25599                     CA      90505    -118.33     33.79

[13608 rows x 4 columns]

In [71]:
us_stores.to_csv('us_stores.csv')

In [72]:
plot_us_stores = plot_us_stores.rename(columns={'CountrySubdivisionCode':'State'})

In [73]:
plot_us_stores.to_csv('plot_us_stores.csv', index=False)

In [74]:
plot_us_stores

      State PostalCode  Longitude  Latitude
0        MN      55792     -92.55     47.51
1        OR      97218    -122.59     45.59
4        CT      06611     -73.15     41.23
5        CA      92056    -117.30     33.18
6        CO      80124    -104.88     39.54
...     ...        ...        ...       ...
25586    WA      98409    -122.47     47.22
25588    VA      23456     -76.12     36.79
25593    OH      45433     -84.03     39.81
25597    CA      94583    -121.98     37.77
25599    CA      90505    -118.33     33.79

[13608 rows x 4 columns]

In [75]:
starbucks_df = pd.read_csv("plot_us_stores.csv")

In [76]:
starbucks_df

      State  PostalCode  Longitude  Latitude
0        MN     55792.0     -92.55     47.51
1        OR     97218.0    -122.59     45.59
2        CT      6611.0     -73.15     41.23
3        CA     92056.0    -117.30     33.18
4        CO     80124.0    -104.88     39.54
...     ...         ...        ...       ...
13603    WA     98409.0    -122.47     47.22
13604    VA     23456.0     -76.12     36.79
13605    OH     45433.0     -84.03     39.81
13606    CA     94583.0    -121.98     37.77
13607    CA     90505.0    -118.33     33.79

[13608 rows x 4 columns]

In [77]:
engine = create_engine('sqlite:///brewBuds.db')

In [78]:
starbucks_df.to_sql(name='starbucks', con=engine, if_exists='replace', index=True)

In [79]:
brewery_df = pd.read_csv("../breweries_data/breweries_data.csv")

In [80]:
brewery_df

,address,categories,city,country,keys,latitude,longitude,name,postalCode,province
0,1103 Mills St,breweries & brew pubs,Black Earth,US,us/wi/blackearth/1103millsst/-757413411,43.138995,-89.747904,Shack The,53515,WI
1,14300 N E 145th St,"Brewers,Wineries",Woodinville,US,us/wa/woodinville/14300ne145thst/-479625596,47.734648,-122.149773,Redhook Ale Brewery Inc,98072,WA
2,11160 Circle Dr,Brewers,Austin,US,us/circleville/austin/11160circledr/643286661,30.225785,-97.952191,Thristy Planet,78736,Circleville
3,3378 White Mountain Hwy,"Brewery and BBQ Joint,BBQ Joint,Brewery",North Conway,US,us/nconway/northconway/3378whitemountainhwy/-7...,44.068416,-71.143910,Moat Mountain Smoke House & Brewing Co.,3860,N Conway
4,293 Jt Connell Hwy,Brewery and Distillery,Newport,US,us/ri/newport/293jtconnellhwy/-1905272344,41.514249,-71.315904,Coastal Extreme Brewing Company,2840,RI
...,...,...,...,...,...,...,...,...,...,...
11834,3920 Hecker Pass Rd,"Wineries,Beverages,Fruit and Vegetable Growers...",Gilroy,US,us/ca/gilroy/3920heckerpassrd/627431902,37.013450,-121.640280,Rancho De Solis Winery,95020,CA
11835,2436 Morrison Ln,"Wineries,Beverages,Brewers",Fairfield,US,us/ca/fairfield/2436morrisonln/-1128085751,38.266350,-122.114540,Bask Cellars,94534,CA
11836,2711 W Girard Ave,"Restaurant,Pubs,Bar,Brewery,Bars & Pubs,Brewer...",Philadelphia,US,us/pa/philadelphia/2711wgirardave/1070407131,39.974457,-75.180840,Crime & Punishment Brewing Co,19130,PA
11837,312 Knickerbocker Ave.,"Restaurant,Breakfast & Brunch,Bakery,Bakeries,...",Brooklyn,US,us/ny/brooklyn/312knickerbockerave/-1702188086,40.701420,-73.923400,Circo's Pastry Shop,11237,NY
11838,481 8th Ave,"Restaurant,Seafood,Italian,Brewery,Bar,Steakhouse",New York,US,us/ny/newyork/4818thave/1378867537,40.752705,-73.993480,Cooper's Tavern,10001,NY

In [81]:
brewery_df = brewery_df.rename(columns={'city':'City', 'latitude':'Latitude', 'longitude':'Longitude', 'name':'Name', 'postalCode':'PostalCode', 'province':'State'})

In [82]:
brewery_df

,address,categories,City,country,keys,Latitude,Longitude,Name,PostalCode,State
0,1103 Mills St,breweries & brew pubs,Black Earth,US,us/wi/blackearth/1103millsst/-757413411,43.138995,-89.747904,Shack The,53515,WI
1,14300 N E 145th St,"Brewers,Wineries",Woodinville,US,us/wa/woodinville/14300ne145thst/-479625596,47.734648,-122.149773,Redhook Ale Brewery Inc,98072,WA
2,11160 Circle Dr,Brewers,Austin,US,us/circleville/austin/11160circledr/643286661,30.225785,-97.952191,Thristy Planet,78736,Circleville
3,3378 White Mountain Hwy,"Brewery and BBQ Joint,BBQ Joint,Brewery",North Conway,US,us/nconway/northconway/3378whitemountainhwy/-7...,44.068416,-71.143910,Moat Mountain Smoke House & Brewing Co.,3860,N Conway
4,293 Jt Connell Hwy,Brewery and Distillery,Newport,US,us/ri/newport/293jtconnellhwy/-1905272344,41.514249,-71.315904,Coastal Extreme Brewing Company,2840,RI
...,...,...,...,...,...,...,...,...,...,...
11834,3920 Hecker Pass Rd,"Wineries,Beverages,Fruit and Vegetable Growers...",Gilroy,US,us/ca/gilroy/3920heckerpassrd/627431902,37.013450,-121.640280,Rancho De Solis Winery,95020,CA
11835,2436 Morrison Ln,"Wineries,Beverages,Brewers",Fairfield,US,us/ca/fairfield/2436morrisonln/-1128085751,38.266350,-122.114540,Bask Cellars,94534,CA
11836,2711 W Girard Ave,"Restaurant,Pubs,Bar,Brewery,Bars & Pubs,Brewer...",Philadelphia,US,us/pa/philadelphia/2711wgirardave/1070407131,39.974457,-75.180840,Crime & Punishment Brewing Co,19130,PA
11837,312 Knickerbocker Ave.,"Restaurant,Breakfast & Brunch,Bakery,Bakeries,...",Brooklyn,US,us/ny/brooklyn/312knickerbockerave/-1702188086,40.701420,-73.923400,Circo's Pastry Shop,11237,NY
11838,481 8th Ave,"Restaurant,Seafood,Italian,Brewery,Bar,Steakhouse",New York,US,us/ny/newyork/4818thave/1378867537,40.752705,-73.993480,Cooper's Tavern,10001,NY

In [83]:
brewery_df = brewery_df[['City', 'Latitude', 'Longitude', 'Name', 'PostalCode', 'State']]

In [84]:
brewery_df

,City,Latitude,Longitude,Name,PostalCode,State
0,Black Earth,43.138995,-89.747904,Shack The,53515,WI
1,Woodinville,47.734648,-122.149773,Redhook Ale Brewery Inc,98072,WA
2,Austin,30.225785,-97.952191,Thristy Planet,78736,Circleville
3,North Conway,44.068416,-71.143910,Moat Mountain Smoke House & Brewing Co.,3860,N Conway
4,Newport,41.514249,-71.315904,Coastal Extreme Brewing Company,2840,RI
...,...,...,...,...,...,...
11834,Gilroy,37.013450,-121.640280,Rancho De Solis Winery,95020,CA
11835,Fairfield,38.266350,-122.114540,Bask Cellars,94534,CA
11836,Philadelphia,39.974457,-75.180840,Crime & Punishment Brewing Co,19130,PA
11837,Brooklyn,40.701420,-73.923400,Circo's Pastry Shop,11237,NY
11838,New York,40.752705,-73.993480,Cooper's Tavern,10001,NY

In [85]:
brewery_df.to_csv('plot_us_stores.csv', index=False)

In [86]:
brewery_df.to_sql(name='brewery', con=engine, if_exists='replace', index=True)

In [87]:
income_df = pd.read_csv("../median_income/income_data.csv")

In [88]:
income_df

       ZIPCODE  POPULATION  MEDIAN_INCOME  PER_UNDER_60
0            0     5420890      125478058      0.907340
1        35004       13860         302269      0.915584
2        35005        8280         130555      0.916667
3        35006        3340          65411      0.892216
4        35007       33710         743431      0.921092
...        ...         ...            ...           ...
27653    83126         670          17041      0.895522
27654    83127        4270         135778      0.845433
27655    83128        2160         119435      0.870370
27656    83414         580          60700      0.827586
27657    99999       37880        1376755      0.856389

[27658 rows x 4 columns]

In [89]:
pd.read_sql("select * FROM brewery", engine)

,index,City,Latitude,Longitude,Name,PostalCode,State
0,0,Black Earth,43.138995,-89.747904,Shack The,53515,WI
1,1,Woodinville,47.734648,-122.149773,Redhook Ale Brewery Inc,98072,WA
2,2,Austin,30.225785,-97.952191,Thristy Planet,78736,Circleville
3,3,North Conway,44.068416,-71.143910,Moat Mountain Smoke House & Brewing Co.,3860,N Conway
4,4,Newport,41.514249,-71.315904,Coastal Extreme Brewing Company,2840,RI
...,...,...,...,...,...,...,...
11834,11834,Gilroy,37.013450,-121.640280,Rancho De Solis Winery,95020,CA
11835,11835,Fairfield,38.266350,-122.114540,Bask Cellars,94534,CA
11836,11836,Philadelphia,39.974457,-75.180840,Crime & Punishment Brewing Co,19130,PA
11837,11837,Brooklyn,40.701420,-73.923400,Circo's Pastry Shop,11237,NY
11838,11838,New York,40.752705,-73.993480,Cooper's Tavern,10001,NY

In [90]:
pd.read_sql("select * FROM starbucks", engine)

       index State  PostalCode  Longitude  Latitude
0          0    MN     55792.0     -92.55     47.51
1          1    OR     97218.0    -122.59     45.59
2          2    CT      6611.0     -73.15     41.23
3          3    CA     92056.0    -117.30     33.18
4          4    CO     80124.0    -104.88     39.54
...      ...   ...         ...        ...       ...
13603  13603    WA     98409.0    -122.47     47.22
13604  13604    VA     23456.0     -76.12     36.79
13605  13605    OH     45433.0     -84.03     39.81
13606  13606    CA     94583.0    -121.98     37.77
13607  13607    CA     90505.0    -118.33     33.79

[13608 rows x 5 columns]